@import url("normalize.css");

body {
  font-family: Arial, sans-serif;
  color: #222222;
}

.wrapper {
  min-height: 100vh;
  background: url("../img/bamboo.jpg") no-repeat;
  background-size: cover;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
}

.main-title,
.title {
  text-align: center;
}

.main-title {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 0;
  margin-top: 20px;
}

.main {
  display: flex;
  align-content: stretch;
}

.block {
  flex: 1 1 auto;
  align-self: auto;
}

.tetris-wrap {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  background: url("../img/back_field.png") no-repeat;
  overflow: hidden;
}

.tetris-field {
  margin: 25px 18px;
  width: 270px;
  height: 450px;
}

.white {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 100%;
  float: left;
}

.orange {
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 100%;
  float: left;
}

.airbus {
  width: 30px;
  height: 30px;
  background-color: #48a9c5;
  border-radius: 100%;
  float: left;
}

.airbus2 {
  width: 30px;
  height: 30px;
  background-color: #fe5000;
  border-radius: 100%;
  float: left;
}

.alcon {
  width: 30px;
  height: 30px;
  background-color: #49a942;
  border-radius: 100%;
  float: left;
}

.algonia {
  width: 30px;
  height: 30px;
  background-color: #8e43e7;
  border-radius: 100%;
  float: left;
}

.text-field,
.user-result {
  margin: 20px 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.user-result {
  margin: 20px;
}

.start-game {
  cursor: pointer;
  border: 2px solid #3d6e1c;
  background-color: #ffffff;
  background-image: url("../img/button_bg.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  display: block;
  width: 50%;
  padding: 20px 30px;
  margin: 0 auto;
}

.game-rules {
  margin-top: 30px;
}

.score-field {
  padding: 30px 0;
  font-size: 42px;
  text-align: center;
}